$phishRed: #F15A50;
$phishBlue: #2C6E91;


@mixin border {
    $border: 3rem solid black;
    border-radius: 1rem;
}

@mixin circle {
        background: white;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        text-align: center;
        line-height: 100px;
        vertical-align: middle;
        padding: 15px;
    }



.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    border: 1px solid purple;
    color: white;
}

.timeline {
    margin: auto;
    position: relative;
    border: 3px solid orange;
    margin: 4rem 0rem;
    background-color: $phishBlue;

    
}

.timeline::before {
    content: "";
    position: absolute;
    border-right: 8px solid $phishRed;
    display: inline-block;
    width: 49.5%;
    height: 100%;
}


.right {
    width: 100%;
    text-align: right;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 20px 30px 20px 0px;
        border-color: transparent black transparent transparent;
        right: 480px;
        top: 75px;
    }
    .timeline-element {
        margin: 2rem 2rem 2rem 0rem;
    }
    *{
        text-align: left;
        }
    h1 {
        background-image: url('/images/phish.jpeg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 10rem;
    }
    &::before {
        content: "";
        position: absolute;
        @include circle;
        right: 518px;
        top: 80px;
    }

}

.left {
    width: 100%;
    text-align: left;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 20px 0px 20px 30px;
        border-color: transparent transparent transparent black;
        left: 480px;
        top: 75px;
    }
    .timeline-element {
        margin: 2rem 0rem 2rem 2rem;
    }
    &::before {
            content: "";
            position: absolute;
            @include circle;
            right: 518px;
            top: 80px;
        }
    }


.timeline-element {
    display: inline-block;
    width: 25rem;
    @include border;
    padding: 1.5rem;
    background-color: $phishRed;

}

@media screen and (max-width: 975px) {
    .timeline-element {
        background-color: $phishBlue;
        width: 20rem;
    }
}