
$border: 1px solid black;

.container {
    max-width: 1000px;
    margin: auto;
    width: 100%;
    border: 1px solid purple;
}

.timeline {
    margin: auto;
    position: relative;
    border: 3px solid orange;
}

.timeline::before {
    content: "";
    position: absolute;
    border-right: 4px solid red;
    display: inline-block;
    width: 50%;
    height: 100%;
}

.right {
    width: 100%;
    text-align: right;
    position: relative;
    & *{
    text-align: left;
    }
    &::before {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 20px 30px 20px 0px;
        border-color: transparent black transparent transparent;
        right: 420px;
        top: 20px;

    }

}

.left {
    width: 100%;
    text-align: left;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 20px 0px 20px 30px;
        border-color: transparent transparent transparent black;
        left: 420px;
        top: 20px;
    }
}

.timeline-element {
    display: inline-block;
    width: 25rem;
    border: $border;
}

