@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap");

$phishRed: #fd8981;
$phishBlue: #404791;
$phishWhite: #eff4fc;
$LobsterFont: "Lobster", cursive;
$RalewayFont: "Raleway", sans-serif;

@mixin border {
    border: 4px solid $phishRed;
    border-radius: 1rem;
}

@mixin circle {
    background: $phishBlue;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 15px;
}

body {
    font-family: $RalewayFont;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    color: white;
}

.timeline {
    margin: auto;
    position: relative;
    border: 8px solid $phishRed;
    background-color: $phishWhite;
}

.timeline::before {
    content: "";
    position: absolute;
    border-right: 12px solid $phishRed;
    display: inline-block;
    width: 49.5%;
    height: 100%;
}

.right {
    width: 100%;
    text-align: right;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 20px 30px 20px 0px;
        border-color: transparent $phishBlue transparent transparent;
        right: 488px;
        top: 75px;
    }
    .timeline-element {
        margin: 2rem 2rem 2rem 0rem;
    }
    * {
        text-align: left;
    }
    img {
        background-image: url("/images/phish.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        height: 12rem;
        position: relative;
        bottom: 28px;
        left: -28px;
        width: 28.5rem;
        margin-bottom: 0px;
    }
    &::before {
        content: "\f7a6";
        display: inline-block;
        font-family: 'FontAwesome';
        font-weight: 900;
        font-size: 1.5rem;
        border-radius: 2rem;
        position: absolute;
        right: 48.2%;
        top: 80px;
        background-color: #404791;
        padding: 0.65rem;
    }
    .date-box {
        display: inline-block;
        position: absolute;
        background-color: white;
        color: $phishRed;
        top: 32px;
        right: 383px;
        padding: 0.5rem 1rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-weight: 900;
        border: 1px solid $phishRed;
    }
    p {
        margin-top: 0;
    }
    h1 {
        margin-top: 0;
    }
}

.left {
    width: 100%;
    text-align: left;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 20px 0px 20px 30px;
        border-color: transparent transparent transparent $phishBlue;
        left: 488px;
        top: 75px;
    }
    .timeline-element {
        margin: 2rem 0rem 2rem 2rem;
    }
    &::before {
        content: "\f7a6";
        display: inline-block;
        font-family: 'FontAwesome';
        font-weight: 900;
        font-size: 1.5rem;
        border-radius: 2rem;
        position: absolute;
        background-color: #404791;
        padding: 0.65rem;
        right: 48.2%;
        top: 80px;
    }
    .date-box {
        display: inline-block;
        position: absolute;
        background-color: white;
        color: $phishRed;
        top: 32px;
        left: 386px;
        padding: 0.5rem 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        font-weight: 900;
        border: 1px solid $phishRed;
    }
}

blockquote::before {
    content: "";
    position: absolute;
    border-right: 5px solid white;
    display: inline-block;
    left: 80px;
    height: 3.5rem;
}

.timeline-element {
    display: inline-block;
    width: 25rem;
    @include border;
    padding: 1.5rem;
    background-color: $phishRed;
}

h1 {
    font-family: $LobsterFont;
}

.more-btn {
    color: white;
    background-color: $phishBlue;
    padding: 0.4rem 1rem;
    border: none;
}

@media screen and (max-width: 1150px) {
    .timeline-element {
        width: 20rem;
        padding: 0.5rem 1rem;
    }
    .left {
        &::after {
            left: 392px;
        }
        &::before {
            right: 47.8%;
        }

        .date-box {
            left: 290px;
        }
    }
    .right {
        &::after {
            right: 392px;
        }
        &::before {
            right: 47.8%;
        }
        img {
            height: 8rem;
            bottom: 12px;
            left: -20px;
            width: 22.5rem;
        }
        .date-box {
            right: 287px;
        }
    }
}

@media screen and (max-width: 920px) {
    .timeline-element {
        width: 15rem;
    }
    .left {
        &::after {
            left: 312px;
        }

        .date-box {
            left: 210px;
        }
        &::before {
            right: 47%;
            top: 80px;
        }
    }
    .right {
        &::after {
            right: 312px;
        }
        img {
            height: 8rem;
            bottom: 12px;
            left: -20px;
            width: 17.5rem;
        }
        .date-box {
            right: 207px;
        }
        &::before {
            right: 47%;
            top: 80px;
        }
    }
}

@media screen and (max-width: 760px) {
    .container {
        max-width: 400px;
    }
    .timeline {
        border: none;
    }
    .timeline::before {
        width: 5%;
        border-right: 8px solid $phishRed;
    }
    .timeline-element {
        width: 14.5rem;
    }
    .left {
        text-align: right;
        .timeline-element {
            margin: 2rem 1rem 2rem 0rem;
        }
        &::after {
            content: "";
            position: absolute;
            border-style: solid;
            border-width: 20px 30px 20px 0px;
            border-color: transparent $phishBlue transparent transparent;
            right: 312px;
            top: 75px;
        }
        &::before {
            position: absolute;
            right: 358px;
            top: 80px;
            font-size: 1rem;
        }
        &::after {
            left: 82px;
        }
        .date-box {
            left: 112px;
            border-top-right-radius: 0rem;
            border-bottom-left-radius: 0rem;
            border-top-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        blockquote::before {
            left: 335px;
            height: 6.8rem;
        }
    }
    .right {
        &::after {
            right: 288px;
        }
        &::before {
            right: 358px;
            top: 80px;
            font-size: 1rem;
        }
        img {
            height: 8rem;
            bottom: 12px;
            left: -20px;
            width: 17rem;
        }
        .date-box {
            right: 183px;
        }
        .timeline-element {
            margin: 2rem 1rem 2rem 0rem;
        }
    }
}

@media screen and (max-width: 450px) {

    .left {

        &::after {
            left: 57px;
        }
        .date-box {
            left: 87px;
        }
        blockquote::before {
            left: 335px;
            height: 6.8rem;
        }
    }
}
